<!DOCTYPE html>
<html>
    <head>
        <title>UNESCO MGIEP | 404</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/site/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/site/favicon.ico" type="image/x-icon">
        <!-- Apple meta -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="theme-color" content="#0069B4">
        <link rel="apple-touch-icon-precomposed" href="/images/site/apple-touch-icon.png">
        <!-- Responsive meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Carousel -->
        <link rel="stylesheet" type="text/css" href="/js/lib/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/js/lib/slick/slick-theme.css"/>
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="/css/page_style.css">
    </head>
    <!-- Body -->
    <body>
        <div class="notfound-section">
            <h2>Error (404)</h2>
            <h3>We can't find the page you're looking for.</h3>
            <p>Here are a few links that may be helpful:</p>
            <div class="notfound-links">
                <a href="https://mgiep.unesco.org">Home</a><br>
                <a href="https://mgiep.unesco.org/newsroom">Newsroom</a><br>
                <a href="https://mgiep.unesco.org/about">About UNESCO MGIEP</a><br>
                <a href="https://mgiep.unesco.org/careers">Work with us</a><br>
            </div>
        </div>
    </body>
</html>
