<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <title>International Science and Evidence based Education Assessment | Science of learning</title>
        <!-- SEO Meta -->
        <meta name="description" content="The goal of the ISEE Assessment is to highlight the role of the Science of Learning in education policy making. The report provides policy relevant information and recommendations to improve education systems and the way we organize learning in formal and non-formal settings.">
        <link href="https://mgiep.unesco.org/iseeareport" rel="canonical">
        <!-- Favicon -->
        <link rel="shortcut icon" href="https://mgiep.unesco.org/images/site/favicon.ico" type="image/x-icon">
        <link rel="icon" href="https://mgiep.unesco.org/images/site/favicon.ico" type="image/x-icon">
        <!-- Facebook open graph meta -->
        <meta property="og:site_name" content="UNESCO MGIEP">
        <meta property="og:title" content="International Science and Evidence based Education Assessment">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://d1c337161ud3pr.cloudfront.net/files%2F6177d9d8-4fd7-48a2-8f08-641dae1a03ce_iseea-meta.png">
        <meta property="og:description" content="The goal of the ISEE Assessment is to highlight the role of the Science of Learning in education policy making. The report provides policy relevant information and recommendations to improve education systems and the way we organize learning in formal and non-formal settings.">
        <meta property="og:locale" content="en_US">
        <meta property="og:url" content="https://mgiep.unesco.org/iseeareport">
        <!-- Twitter card meta -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@UNESCO_MGIEP">
        <meta name="twitter:title" content="International Science and Evidence based Education Assessment">
        <meta name="twitter:description" content="The goal of the ISEE Assessment is to highlight the role of the Science of Learning in education policy making. The report provides policy relevant information and recommendations to improve education systems and the way we organize learning in formal and non-formal settings.">
        <meta name="twitter:image:src" content="https://d1c337161ud3pr.cloudfront.net/files%2F6177d9d8-4fd7-48a2-8f08-641dae1a03ce_iseea-meta.png">
        <!-- Apple meta -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-icon-precomposed" href="">
        <!-- Responsive meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles and fonts -->
        <link rel="stylesheet" type="text/css" href="/css/iseea_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
        <!-- Sharethis -->
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=60221285e83dc40011356b16&product=sticky-share-buttons' async='async'></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123165566-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-123165566-1');
        </script>
    </head>
    <body>
        <div class="pageWrap">
            <!-- Pinned -->
            <div class="pinnedWrap">
                <a href="https://mgiep.unesco.org/iseea" target="_blank">&larr; About ISEEA</a>
                <a href="https://mgiep.unesco.org/iseea-report-launch" target="_blank" style="float:right; padding-right: 20px;">ISEEA Report Launch &rarr;</a>
            </div>
            <!-- Header -->
            <div class="headerWrap">
                <div class="logo">
                    <a href="https://mgiep.unesco.org"><img src="https://mgiep.unesco.org/images/site/logo-dark@2x.png"></a>
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a class="link-home" href="https://mgiep.unesco.org/iseea" target="_blank">Home</a></li>
                        <li><a class="link-headliners" href="#headliners" target="_blank">Headliners</a></li>
                        <li><a class="link-sdm" href="#sdm" target="_blank">Summary for Decision Makers</a></li>
                        <li><a class="link-wgs" href="#wgs" target="_blank">Working Groups</a></li>
                    </ul>
                </div>
                <div class="nav-m-links">
                    <ul>
                        <li><a class="link-home" href="https://mgiep.unesco.org/iseea" target="_blank">Home</a></li>
                        <li><a class="link-headliners" href="#headliners" target="_blank">Headliners</a></li>
                        <li><a class="link-sdm" href="#sdm" target="_blank">SDM</a></li>
                        <li><a class="link-wgs" href="#wgs" target="_blank">Working Groups</a></li>
                    </ul>
                </div>
            </div>
            <!-- Title -->
            <div class="titleWrap" id="home">
                <div class='layer-bg layer' data-depth='0.10' data-type='parallax'></div>
                <div class='layer-1 layer' data-depth='0.20' data-type='parallax'></div>
                <div class='layer-2 layer' data-depth='0.50' data-type='parallax'></div>
                <div class='layer-overlay layer' data-depth='0.55' data-type='parallax'></div>
                <div class='layer-3 layer' data-depth='0.60' data-type='parallax'></div>
                <div class='layer-3a layer' data-depth='0.70' data-type='parallax'></div>
                <div class='layer-4 layer' data-depth='1.00' data-type='parallax'></div>
                <div class='layer-5 layer' data-depth='0.99' data-type='parallax'>The International Science and Evidence based Education (ISEE) Assessment</div>
                <div class='layer-6 layer' data-depth='1.00' data-type='parallax'>The International Science and Evidence based Education (ISEE) Assessment</div>
            </div>
            <!-- Main -->
            <div class="mainWrap">
                <!-- About -->
                <div class="aboutWrap">
                    <p><b>The International Science and Evidence Based Education (ISEE) Assessment</b> is an initiative of the UNESCO Mahatma Gandhi Institute of Education for Peace and Sustainable Development (MGIEP), and is its contribution to the Futures of Education process launched by UNESCO Paris in September 2019. In order to contribute to re-envisioning the future of education with a science and evidence based report, UNESCO MGIEP embarked on the first-ever large-scale assessment of knowledge of education.</p>
                    <p>The overall goal of the <b>ISEE Assessment</b> is to pool multi-disciplinary expertise on educational systems and reforms from a range of stakeholders in an open and inclusive manner, and to undertake a scientifically robust and evidence based assessment that can inform education policy-making at all levels and on all scales. Its aim is not to be policy prescriptive but to provide policy relevant information and recommendations to improve education systems and the way we organize learning in formal and non-formal settings. It is also meant to identify information gaps and priorities for future research in the field of education.</p>
                    <p>In the education sector, the term assessment generally refers to activities used to measure student progress. Going beyond this narrow notion of education assessment, and drawing lessons from the IPCC Assessment Reports and other scientific environmental assessments (such as the Millennium Ecosystem Assessment and IPBES), UNESCO MGIEP aspires to initiate a scientifically credible, legitimate, relevant and inclusive process that will assess the state of education as a complex system and its role in achieving sustainable and peaceful societies.</p>
                    <p>The ISEE Assessment uses the 1996 Delors Report's four pillars of education — Learning to be, Learning to know, Learning to do and Learning to live together as evaluative benchmarks and the lens of 'what','where','when' and 'how' we learn and teach. The assessment is compiled by four Working Groups: (1) Human Flourishing, Education and Learning; (2) Education, Learning and Context; (3) Learning Experience; and (4) Data and Evidence.</p>
                    <span class="label">Download headliners:</span>
                    <a href="https://bit.ly/3KZomEx" class="wg-btn" target="_blank">English</a>
                    <a href="https://bit.ly/38eTL8T" class="wg-btn" target="_blank">French</a>
                    <a href="https://bit.ly/3FA4EOG" class="wg-btn" target="_blank">Spanish</a>
                    <a href="https://bit.ly/3srHIvP" class="wg-btn" target="_blank">Russian</a>
                    <a href="https://bit.ly/3stGShT" class="wg-btn" target="_blank">Chinese</a>
                    <a href="https://bit.ly/3wigZTm" class="wg-btn" target="_blank">Arabic</a>
                </div>
                <!-- Take home -->
                <div class="takeHomeWrap" id="headliners">
                    <h2>Take-Home Messages</h2>
                    <div class="containerWrap">
                        <div class='layer-1 layer' data-depth='0.05' data-type='parallax'><span class="num">01</span><span class="text"><b>Every learner learns differently,</b> and is influenced by a complex combination of internal factors (biological including neurobiological) and context (political, social, cultural, institutional, environmental, technological, etc.) Therefore, receiving a personalized learning experience is an entitlement and a human right for every learner.</span></div>
                        <div class='layer-2 layer' data-depth='0.06' data-type='parallax'><span class="num">02</span><span class="text"><b>A whole-brain learner-centric</b> approach towards learning strengthens the interconnectedness of cognition and the social-emotional domains, which is essential for human flourishing.</span></div>
                        <div class='layer-3 layer' data-depth='0.07' data-type='parallax'><span class="num">03</span><span class="text"><b>Context heavily influences</b> the design and implementation of an education for flourishing but over time, education for flourishing will also influence context, leading to an upward spiral towards sustainable and peaceful societies across the world.</span></div>
                        <div class='layer-4 layer' data-depth='0.08' data-type='parallax'><span class="num">04</span><span class="text"><b>Learner agency</b> should be promoted by shifting from passive to active learning, where each learner actively engages in and experiments with information and the environment and the relationship between teacher and student is bi-directional.</span></div>
                        <div class='layer-5 layer' data-depth='0.09' data-type='parallax'><span class="num">05</span><span class="text"><b>Potentiality instead of meritocracy</b> should be used to evaluate the success of learners. Potentiality is measured by an individual's own rate of learning based on a personalized learning trajectory that uses dynamic and formative learner assessments.</span></div>
                        <div class='layer-6 layer' data-depth='0.10' data-type='parallax'><span class="num">06</span><span class="text"><b>Investment in education</b> is needed but must be directed to a whole-brain learner- centric system designed and implemented to be equitable and inclusive.</span></div>
                        <div class='layer-7 layer' data-depth='0.11' data-type='parallax'><span class="num">07</span><span class="text"><b>Multidisciplinary</b> dialogue, research and collaboration is needed to ensure different perspectives, understanding and context to guide education and learning.</span></div>
                    </div>
                </div>
            </div>
            <!-- Section -->
            <div class="sectionWrap">
                <div class="backgroundWrap"></div>
                <h2>Policy Recommendations</h2>
                <div class="containerWrap">
                    <div class='one-section'><span class="num">01</span><span class="text"><b>Re-organize curricula, pedagogies, and learning assessments</b> toward a whole-brain learner- centric, socially inclusive education for human flourishing that emphasizes interconnectedness instead of isolation between cognition, metacognition and social- emotional learning.</span></div>
                    <div class='one-section'><span class="num">02</span><span class="text"><b>Replace credentialism and meritocracy</b> that pits individuals against each other with potentiality which focuses on investing in self, and evaluation of self-growth over time.</span></div>
                    <div class='one-section'><span class="num">03</span><span class="text"><b>Implement the six domain curricula</b> (environment, culture, society, technology, interpersonal, self) for a learning experience towards human flourishing.</span></div>
                    <div class='one-section'><span class="num">04</span><span class="text"><b>Invest in mother-tongue instruction</b> in early childhood education to maximize the potential of children from diverse backgrounds.</span></div>
                    <div class='one-section'><span class="num">05</span><span class="text"><b>Introduce early universal screening,</b> intervention, and monitoring to design inclusive education and learning.</span></div>
                    <div class='one-section'><span class="num">06</span><span class="text"><b>Provide a global database</b> to facilitate personalized learning experiences for all learners across the world.</span></div>
                    <div class='one-section'><span class="num">07</span><span class="text"><b>Support and strengthen school-community partnerships</b> to promote more localized, place-based curricula to link learning to real world problems learners face daily.</span></div>
                    <div class='one-section'><span class="num">08</span><span class="text"><b>Every learner learns differently,</b> and is influenced by a complex combination of internal factors (biological including neurobiological) and context (political, social, cultural, institutional, environmental, technological, etc.) Therefore, receiving a personalized learning experience is an entitlement and a human right for every learner.</span></div>
                    <div class='one-section'><span class="num">09</span><span class="text"><b>Involve parents as partners</b> in the implementation of whole-brain learner-centric education.</span></div>
                    <div class='one-section'><span class="num">10</span><span class="text"><b>Re-organize education funding</b> to ensure equitable and inclusive whole-brain learner-centric quality education for all learners at all stages of learning.</span></div>
                    <div class='one-section'><span class="num">11</span><span class="text"><b>Re-organize research funding</b> to enable truly multidisciplinary, large-scale, and global research programmes.</span></div>
                </div>
                <div class="background2Wrap"></div>
            </div>
            <!-- Main -->
            <div class="mainWrap">
                <!-- About -->
                <div class="aboutWrap">
                    <p><b>The ISEE Assessment</b> is a first of its kind for the education sector, attempting to identify a way forward for education and learning according to an evidence based multidisciplinary assessment of the state of education across the globe.</p>
                    <p>It contributes to UNESCO's Futures of Education by:</p>
                    <div class="about-cards">
                        <div class="one-card card-1">
                            <div class="one-image"></div>
                            <p><b>Bringing together the latest research</b> to understand the what, where, how, and when of learning, what educational interventions and reforms work (or otherwise), and identifying knowledge gaps and future research avenues.</p>
                        </div>
                        <div class="one-card card-2">
                            <div class="one-image"></div>
                            <p><b>Bringing together experts</b> from a range of disciplines, including educationalists, psychologists, neuroscientists, cognitive scientists, economists, historians, and philosophers.</p>
                        </div>
                        <div class="one-card card-3">
                            <div class="one-image"></div>
                            <p><b>Suggesting relevant policy recommendations</b> and strengthening the science-policy nexus.</p>
                        </div>
                    </div>
                </div>
                <!-- Key -->
                <div class="keyWrap" id="sdm">
                    <h2>Summary for Decision Makers (SDM): <br>Key questions and findings</h2>
                    <span class="label">Download summary:</span>
                    <a href="https://bit.ly/3RrkT4K" class="wg-btn" target="_blank">English</a>
                    <a href="https://bit.ly/3FB6DSN" class="wg-btn" target="_blank">French</a>
                    <a href="https://bit.ly/3PkuDNZ" class="wg-btn" target="_blank">Spanish</a>
                    <span class="label">Download in other formats (<a href="https://docs.google.com/document/d/1755svWIrOQx7Cior8oKewWysNWLWs0Jl/view" target="_blank" class="info">Read instructions</a>):</span>
                    <a href="https://bit.ly/3Rj8wru" class="wg-btn" target="_blank">EPub | English</a>
                    <a href="https://bit.ly/3E0uxIO" class="wg-btn" target="_blank">Mobi | English</a>
                    <div class="containerWrap">
                        <div class="keyQuestions">
                            <div class="one-question question-1 selected">
                                <div class="question-image"></div>
                                <p class="question-text">Has education evolved over the past 50 years for the betterment of society?</p>
                            </div>
                            <div class="one-question question-2">
                                <div class="question-image"></div>
                                <p class="question-text">How has context shaped educational policies and practices over the past 50 years?</p>
                            </div>
                            <div class="one-question question-3">
                                <div class="question-image"></div>
                                <p class="question-text">How has context, together with education policies and practices, influenced "what we learn","how we learn","when we learn", and "where we learn"?</p>
                            </div>
                            <div class="one-question question-4">
                                <div class="question-image"></div>
                                <p class="question-text">How can education be reimagined to maximize human flourishing?</p>
                            </div>
                            <div class="one-question question-5">
                                <div class="question-image"></div>
                                <p class="question-text">Which gaps should be addressed in future research?</p>
                            </div>
                        </div>
                        <div class="keyFindings">
                            <div class="one-finding finding-1">
                                <p>1.1 / Despite advancements in some segments across the world, education policies have unintentionally exacerbated inequality, establishing new forms of elitism and a mindset focused on individualism.</p>
                                <p>1.2 / The present focus on human capital (literacy and numeracy skills) is not optimal for human flourishing. Education policy and practice focusing on academic performance rather than balancing it with social and emotional competencies, has led to a decline in human and societal flourishing.</p>
                                <p>1.3 / Meritocracy has backfired, creating a new form of educational, social, and economic exclusion in the guise of credentialism and exacerbating inequitable flourishing outcomes.</p>
                                <p>1.4 / The present learner assessments focusing on standardized, time-bound, 'one-size-fits-all' summative learner examinations are not optimal for learning and flourishing.</p>
                                <p>1.5 / Educational expenditure requires closer scrutiny of the 'what', 'how', 'when', 'where' and 'for whom' these investments are made to maximize returns on education for human flourishing and ensure equitable outcomes for all.</p>
                                <p>1.6 / Inclusive education policies have been established but have not resulted in equal opportunities for marginalized groups based on gender, ethnicity/ race, sexual orientation, disability and neurodiversity.</p>
                            </div>
                            <div class="one-finding finding-2 u-hide">
                                <p>2.1 / The private sector through quasi-markets, shadow education and a global education industry is increasingly influencing education with an emphasis on economic efficiency at the cost of learning and flourishing.</p>
                                <p>2.2 / Dominant-group political, economic, social and cultural factors have played a key role in excluding marginalized minorities in education and learning.</p>
                                <p>2.3 / Local social and cultural factors have played an instrumental role in producing imbalances in gender parity in education even if international political commitments to gender parity have strengthened over the past 30 years.</p>
                                <p>2.4 / Education has become a major victim of violent conflicts because it represents the state’s economic, social, and political visions. However, incorporating new insights about the impact of stress and trauma on the developing and learning child can make education a peacebuilder by building social and emotional competencies, executive function and agency among learners.</p>
                                <p>2.5 / Education Technology (EdTech) or Digital Pedagogy can help all students, in particular students with special needs to concentrate on tasks and provide opportunities in simulations, basic drills/practice, and communication, while also increasing higher-order thinking and aiding pedagogical practices.</p>
                                <p>2.6 / The UN Sustainable Development Goal 4, Target 7 remains at the periphery of most education systems even as Climate Change and other major environmental problems have spurred an increase in the adoption of education for sustainable development (ESD), global citizenship education (GCED), and environmental education. These subjects are yet treated as ‘minor’ subjects in school curricula, with little or no social and emotional dimensions, leading to limited efficacy of these interventions.</p>
                            </div>
                            <div class="one-finding finding-3 u-hide">
                                <p>3.1 / Many national curricula emphasize knowledge acquisition and not social and emotional learning. The former is focused on literacy and numeracy using standardized curricula as opposed to focusing on localized curricula addressing existential questions faced in students’ day-to-day life.</p>
                                <p>3.2 / Increased understanding and respect for diversity is slowly gaining momentum in curricula and school systems but can be further strengthened by mainstreaming it across curricula, pedagogy, learner assessments and teacher training.</p>
                                <p>3.3 / EdTech is pervasive across all education settings and shows much promise in providing the possibility of personalized learning if it is designed and implemented in an ethical, inclusive and equitable manner. This promise takes on special importance for individuals with specific disabilities or challenges that impact their learning in traditional school settings, to communities that are geographically remote, and to populations in economic need. </p>
                                <p>3.4 / Where we learn influences what and how we learn, in some cases beyond the intended curriculum, learner assessment or aims of education. Flexible and/or open classrooms which enable group learning and agency improve student cooperation, cognitive learning, student engagement and well-being.</p>
                            </div>
                            <div class="one-finding finding-4 u-hide">
                                <p>4.1 / Education as a social relational activity offers a pathway to develop human flourishing. An education for human flourishing must be malleable and adaptable to accommodate the needs of the individual while recognizing societal and ecological conditions.</p>
                                <p>4.2 / Context heavily influences (and is influenced by) education and learning and can either derail or nurture education for human flourishing. Therefore, political, social, cultural, institutional and technological factors need to be understood when designing an education to minimize unintended negative outcomes and achieve the goal of human flourishing.</p>
                                <p>4.3 / Cognitive, social-emotional and metacognitive functions need to be mainstreamed in curricula and pedagogy and should be grounded in complex local and global issues related to politics, economics, cultural diversity and environmental sustainability. Fostering a symbiotic relationship between cognition, metacognition and social-emotional learning in education systems is key to activating and achieving the seven pillars of learning- learning to know, learning to think, learning to do, learning to be, learning to become, learning to live together and learning to live with nature.</p>
                                <p>4.4 / A broader cultural perspective that allows learning experiences from learners across different parts of the world should be adopted to inform education and learning while social influences reinforcing gender, racial, religious and other stereotypes need to be minimized.</p>
                                <p>4.5 / A formative and dynamic learner assessment encouraging continuous feedback to acknowledge and increase learner potentiality should be designed and implemented.</p>
                                <p>4.6 / Design and implement inclusive education policies by investing in early identification (or screening) of at-risk learners, teacher training, and EdTech.</p>
                                <p>4.7 / Design and implement EdTech tools and processes informed by ethical use of Artificial Intelligence (AI) that acknowledges and caters to individual differences, provides personalized learning experiences, and minimizes negative impacts of datafication and digitalization leading to more equitable and inclusive education for all.</p>
                                <p>4.8 / Inculcate the key competencies of information literacy to address information overload and misinformation.</p>
                                <p>4.9 / Invest in teacher training for an education for flourishing. Investments and reforms in teacher education can optimally guide learning for all students. In addition, they can increase teacher flourishing, which is important for learner flourishing.</p>
                                <p>4.10 / Education for flourishing needs to be informed by insights from the learning sciences on optimal conditions for learning, effective learning strategies, and the negative effects of trauma, poverty, and stress.</p>
                                <p>4.11 / Social influences reinforcing gender stereotypes need to be minimized to promote gender equality.</p>
                                <p>4.12 / Different ages come with different opportunities and school curricula should be aligned accordingly. Both childhood and adolescence are heightened periods of brain plasticity, enabling efficient learning. Adolescence is a window of opportunity for learning, engagement, and shaping prosocial behavior, and continued investment must be made throughout all stages of learning.</p>
                                <p>4.13 / Develop dynamic and adaptable learning spaces to allow experiential, outdoor, community and place-based learning conducive to learners’ flourishing and promote equity and inclusiveness.</p>
                            </div>
                            <div class="one-finding finding-5 u-hide">
                                <p>5.1 / Data, evidence and statistical significance are key variables to be considered in educational policy-making. Effect sizes, internal validity and uncertainty in findings are key concepts to be included in any policy design.</p>
                                <p>5.2 / Research must include diversity when analysing student learning as drawing conclusions from homogenous groups can be misleading and lead to suboptimal learning outcomes.</p>
                                <p>5.3 / EdTech research must focus on ethics, quality, inclusivity and equity and should include learners from varying social-economic-cultural backgrounds in research studies.</p>
                                <p>5.4 / Transdisciplinary and practice-research collaboration must be a necessary condition for education-related research to produce transdisciplinary outcomes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section -->
            <div class="sectionWrap" id="wgs">
                <div class="backgroundWrap"></div>
                <h2>Working Groups</h2>
                <div class="containerWrap">
                    <!-- Working group 1 -->
                    <div class="wg-box wg-1">
                        <div class="wg-about">
                            <div class="wg-image"></div>
                            <div class="wg-content">
                                <p class="wg-title">1 / Education &amp; Human Flourishing</p>
                                <p class="wg-summary">Working Group 1 assesses the definitions of flourishing and education from multidisciplinary perspectives including philosophy and the neurosciences, proposing education implementation and practice for flourishing be built on relationships with others, oneself and with subject matter/knowledge.</p>
                                <a href="https://bit.ly/3C0BMOm" class="wg-btn" target="_blank">PDF</a>
                                <a href="https://bit.ly/3E0vl0i" class="wg-btn" target="_blank">MOBI</a>
                                <a href="https://bit.ly/3fsfoWb" class="wg-btn" target="_blank">EPUB</a>
                            </div>
                        </div>
                        <div class="wg-chapters u-transparent">
                            <p>1.1 / Introduction to ISEE Assessment Working Group 1 - education in and for flourishing
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3y1zm0J" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3xX6xSS" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3xYrjS1" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>1.2 / Education for flourishing and flourishing in education
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3y1zv4h" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3xYRvfu" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3xYRt7d" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>1.3 / The science of flourishing in child and adolescent development: description, explanation and implications for prevention and promotion
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3BXHv7z" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3xXCB9s" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3UXady7" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>1.4 / A curricular framework for flourishing in education
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3CgHwVs" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3UI7Xuh" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3CfDPz4" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>1.5 / Human flourishing in schools
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3fwEGT2" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3UJEP5V" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3Chi0iX" target="_blank">MOBI</a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- Working group 2 -->
                    <div class="wg-box wg-2">
                        <div class="wg-about">
                            <div class="wg-image"></div>
                            <div class="wg-content">
                                <p class="wg-title">2 / Education &amp; Context</p>
                                <p class="wg-summary">Working Group 2 explores the complex manner in which context (ecological, political, cultural, social and economic) shapes, and is shaped by, diverse understandings of what it means to lead a fulfilling life, and the role of education in achieving this.</p>
                                <a href="https://bit.ly/3y20LiP" class="wg-btn" target="_blank">PDF</a>
                                <a href="https://bit.ly/3EgBQMH" class="wg-btn" target="_blank">MOBI</a>
                                <a href="https://bit.ly/3EgBS7h" class="wg-btn" target="_blank">EPUB</a>
                            </div>
                        </div>
                        <div class="wg-chapters u-transparent">
                            <p>2.1 / Beyond Education – Context, End Goals and Limits
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3E3H6mG" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3re7kva" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3Chi7en" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>2.2 / Global change and the contextual dynamics shaping education: A view from the sustainability-education nexus
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3LRJPBm" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3riQzP6" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3DWWX6r" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>2.3 / Political economy of education - implications for efficiency, equity and social justice
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3fsFUip" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3raZ5Qr" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3DWEDKv" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>2.4 / Diversity and Social Justice in Education
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3RnUrJw" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3DZ3jSJ" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3BS6DfE" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>2.5 / From perpetrator to peacebuilder: Rethinking education in conflict-affected societies
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3CsKB4Z" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3E3pB5M" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3dVzqrI" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>2.6 / Education Technology
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3RmWQUN" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3RdKoGV" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3SmewRN" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>2.7 / Contexts of educational neuroscience
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3SH27rj" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3foIsho" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3fsjwpr" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>2.8 / Curriculum and Pedagogy in a Changing World
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3RmlB3i" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3fpu5JV" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3LLVtxP" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>2.9 / Assessment in Context
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3CiakwE" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3LOw4U0" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3feZvCs" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>2.10 / The teaching profession in context: issues for policy and practice around the world
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3ftSmhV" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3UE7ZDz" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3fqyhsx" target="_blank">MOBI</a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- Working group 3 -->
                    <div class="wg-box wg-3">
                        <div class="wg-about">
                            <div class="wg-image"></div>
                            <div class="wg-content">
                                <p class="wg-title">3 / Education &amp; the Learning Experience</p>
                                <p class="wg-summary">Working Group 3 assesses how education and skills acquisition for all learners at different stages of their life is affected by their learning experiences in and out of the classroom space, as found due to the uniqueness of each learner.</p>
                                <a href="https://bit.ly/3UN9P52" class="wg-btn" target="_blank">PDF</a>
                                <a href="https://bit.ly/3ReIk17" class="wg-btn" target="_blank">MOBI</a>
                                <a href="https://bit.ly/3Rn7ivk" class="wg-btn" target="_blank">EPUB</a>
                            </div>
                        </div>
                        <div class="wg-chapters u-transparent">
                            <p>3.1 / Towards an integrative view of the learning experience in the context of human flourishing
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3y0ON9s" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3Rojdcm" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3SkGDke" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>3.2 / Brain development and maturation in the context of learning
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3y35Nvs" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3fkqk8p" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3SkHK3r" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>3.3 / Individual differences and influences on learning
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3SprQov" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3SnpZQY" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3SlYOpM" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>3.4 / The social and emotional foundations of learning
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3dUvt6L" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3SkZTOA" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3Sm9ZP4" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>3.5 / Foundations of academic knowledge
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3y22m8s" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3UE8Q7f" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3SkH2TM" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>3.6 / Identifying and supporting children with learning disabilities
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3LRK27C" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3SFCkj6" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3rbFzD9" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>3.7 / Learning spaces: built, natural and digital considerations for learning and learners
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3y22ncw" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3UJ3Gqs" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3fs0r6M" target="_blank">MOBI</a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- Working group 4 -->
                    <div class="wg-box wg-4">
                        <div class="wg-about">
                            <div class="wg-image"></div>
                            <div class="wg-content">
                                <p class="wg-title">4 / Education -  Data and Evidence</p>
                                <p class="wg-summary">Working Group 4 assesses traditional levels of evidence in Evidence Based Education (EBE), proposes for levels of contextual fitting, providing implications for conducting future applied research for policy making given levels of certainty in how well educational interventions work and the extent to which such interventions have been studied.</p>
                                <a href="https://bit.ly/3CfnWZz" class="wg-btn" target="_blank">PDF</a>
                                <a href="https://bit.ly/3ReIk17" class="wg-btn" target="_blank">MOBI</a>
                                <a href="https://bit.ly/3SAY7Zp" class="wg-btn" target="_blank">EPUB</a>
                            </div>
                        </div>
                        <div class="wg-chapters u-transparent">
                            <p>4.1 / The EBE3 framework: extending evidence based education from causal ascriptions and effectiveness generalizations to relative effectiveness generalizations and local effectiveness predictions
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3BTUfvJ" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3rfZiSu" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3LPPaJw" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>4.2 / How well does this intervention work? Statistical significance, uncertainty and some concepts to interpret the findings of evaluations of educational interventions
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3SoyoDA" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3fqyj3E" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3LMomdc" target="_blank">MOBI</a>
                                </span>
                            </p>
                            <p>4.3 / The extent to which education interventions have been studied and the range of effects typically observed
                                <span class="chapter-links">
                                    <a href="https://bit.ly/3rhTfg6" target="_blank">PDF</a>
                                    <a href="https://bit.ly/3DWadIs" target="_blank">EPUB</a>
                                    <a href="https://bit.ly/3Rj8qQE" target="_blank">MOBI</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="background2Wrap"></div>
            </div>
            <!-- Footer -->
            <div class="footerWrap">
                <div class="footer-cell">
                    <p class="footer-social">
                        <span>Follow us at:</span>
                        <a href="https://www.facebook.com/mgiep/" target="_blank" class="social-fb"></a>
                        <a href="https://twitter.com/UNESCO_MGIEP" target="_blank" class="social-twitter"></a>
                        <a href="https://www.instagram.com/unesco_mgiep/" target="_blank" class="social-instagram"></a>
                        <a href="https://www.youtube.com/channel/UCJLhlIOm1U_CR2C_D9OIZFg" target="_blank" class="social-youtube"></a>
                        <a href="https://www.linkedin.com/company/unesco-mgiep/" target="_blank" class="social-linkedin"></a>
                    </p>
                    <p class="footer-contact">UNESCO MGIEP, ICSSR Building, First Floor<br>35 Ferozshah Road, New Delhi-110001 <br>Phone: +91 11 23072356-60</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/iseeaApp.js"></script>
    </body>
</html>