<div class="overlay-box overlay-large">
    <a class="overlay-close js-close" href="#"></a>
    <div class="contentForm addto-folder-panel">
        <div class="folder-select">
            <p class="content-text">Move to:</p>
            <p class="content-choose">
                <span class="choose-existing selected">Existing folder</span>
                <span class="choose-new">New folder</span>
                <span class="choose-outside u-hide">Outside of folder</span>
            </p>
        </div>
        <div class="folder-existing">
            <div><input placeholder="Search for folders" type="text" class="folder-search" spellcheck="false" value=""></div>
        </div>
        <div class="folder-new u-hide">
            <div><input placeholder="Folder title: Required" type="text" class="folder-title" spellcheck="false" value=""></div>
        </div>
        <div class="folder-save form-save u-hide">
            <a class="js-save-folder u-main-btn" href="#">Save</a>
        </div>
    </div>
</div>
