<div class="overlay-box overlay-large">
    <a class="overlay-close js-close" href="#"></a>
    <div class="contentForm all-blocks-panel article-blocks-panel">
        <div class="block-list">
            <!-- Text block -->
            <div class="block-select article-text-block js-article-text-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Rich text</p>
                    <p class="block-text">Add rich text or HTML here.</p>
                </div>
            </div>
            <!-- Carousel block -->
            <div class="block-select article-gallery-block js-article-gallery-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Carousel</p>
                    <p class="block-text">Full width image slideshow with text caption.</p>
                </div>
            </div>
            <!-- Audio block -->
            <div class="block-select article-audio-block js-article-audio-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Audio player</p>
                    <p class="block-text">Upload MP3 file here.</p>
                </div>
            </div>
            <!-- Video block -->
            <div class="block-select article-video-block js-article-video-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Video player</p>
                    <p class="block-text">Upload MP4 file here.</p>
                </div>
            </div>
            <!-- File block -->
            <div class="block-select article-file-block js-article-file-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">File</p>
                    <p class="block-text">Upload PDF, PPT, DOCX or any other file here.</p>
                </div>
            </div>
            <!-- GIF block -->
            <div class="block-select article-gif-block js-article-gif-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">GIF</p>
                    <p class="block-text">Search for GIFs and add it to the article.</p>
                </div>
            </div>
            <!-- Bookmark block -->
            <div class="block-select article-link-block js-article-link-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Bookmark</p>
                    <p class="block-text">Share links as cards.</p>
                </div>
            </div>
            <!-- Embed block -->
            <div class="block-select article-embed-block js-article-embed-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Embed</p>
                    <p class="block-text">For embedding videos, maps, forms etc.</p>
                </div>
            </div>
            <!-- Toggle card -->
            <div class="block-select article-toggle-block js-article-toggle-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Toggle card</p>
                    <p class="block-text">Collapsible section of text for FAQs.</p>
                </div>
            </div>
            <!-- Callout block -->
            <div class="block-select article-callout-block js-article-callout-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Callout</p>
                    <p class="block-text">Styled cards for tips or information.</p>
                </div>
            </div>
            <!-- People block -->
            <div class="block-select article-people-block js-article-people-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">People</p>
                    <p class="block-text">Card view of people or team members.</p>
                </div>
            </div>
            <!-- Logos block -->
            <div class="block-select article-logos-block js-article-logos-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Logos</p>
                    <p class="block-text">Show logos of partners.</p>
                </div>
            </div>
            <!-- Breather block -->
            <div class="block-select article-breather-block js-article-breather-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Breather</p>
                    <p class="block-text">Title, text and image with parallax effect.</p>
                </div>
            </div>
            <!-- Button block -->
            <div class="block-select article-button-block js-article-button-block">
                <div class="block-thumb"></div>
                <div class="block-info">
                    <p class="block-title">Button</p>
                    <p class="block-text">Add call-to-action buttons.</p>
                </div>
            </div>
        </div>
    </div>
</div>
