<div class="overlay-box overlay-large">
    <a class="overlay-close js-close" href="#"></a>
    <div class="contentForm all-blocks-panel">
        <!-- Header blocks -->
        <div class="area-header-blocks">
            <p class="content-text">Header or cover blocks: <em>Full width. Recommended at the top of the page</em></p>
            <div class="block-list">
                <!-- Default header -->
                <div class="block-select header-block js-header-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Default header</p>
                        <p class="block-text">Text on the left, image on the right. Optional story.</p>
                    </div>
                </div>
                <!-- Header with video -->
                <div class="block-select header-v-block js-header-v-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Header with video/embed</p>
                        <p class="block-text">Text on the left, video/embed on the right.</p>
                    </div>
                </div>
                <!-- Header with background image -->
                <div class="block-select header-bg-block js-header-bg-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Header with background image</p>
                        <p class="block-text">Background image with text on the left.</p>
                    </div>
                </div>
                <!-- Header with center-aligned media -->
                <div class="block-select header-media-block js-header-media-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Header with a hero image/video/embed</p>
                        <p class="block-text">Center-aligned text and media.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section blocks -->
        <div class="area-section-blocks">
            <p class="content-text">Section blocks: <em>Full width. Seperate content with this block</em></p>
            <div class="block-list">
                <!-- Default section -->
                <div class="block-select section-block js-section-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Default section</p>
                        <p class="block-text">Title on the left, text and buttons on the right.</p>
                    </div>
                </div>
                <!-- Basic section -->
                <div class="block-select section-basic-block js-section-basic-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Text section</p>
                        <p class="block-text">Center-aligned title, text and buttons on the right.</p>
                    </div>
                </div>
                <!-- Section with media -->
                <div class="block-select section-media-block js-section-media-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Section with text, image or video</p>
                        <p class="block-text">Aligned left or right.</p>
                    </div>
                </div>
                <!-- Section with a list of items -->
                <div class="block-select section-list-block js-section-list-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Section with a list of items</p>
                        <p class="block-text">Item title and text on the left, image or video on the right.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container or content blocks -->
        <div class="area-content-blocks">
            <p class="content-text">Container or content blocks: <em>Add text or embed other blocks</em></p>
            <div class="block-list">
                <!-- Container block -->
                <div class="block-select container-block js-container-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Container</p>
                        <p class="block-text">Full width. Empty block to contain other blocks or tagged articles.</p>
                    </div>
                </div>
                <!-- Body text block -->
                <div class="block-select body-t-block js-body-t-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Static card</p>
                        <p class="block-text">Full width, 2/3 or 1/3 width of container block. Add static content here.</p>
                    </div>
                </div>
                <!-- Body HTML block -->
                <div class="block-select body-h-block js-body-h-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Rich text</p>
                        <p class="block-text">Add rich text or HTML here.</p>
                    </div>
                </div>
                <!-- Body embed block -->
                <div class="block-select body-e-block js-body-e-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Embed</p>
                        <p class="block-text">For embedding videos, maps, forms etc.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel blocks -->
        <div class="area-carousel-blocks">
            <p class="content-text">Carousel blocks: <em>Full width slideshow</em></p>
            <div class="block-list">
                <!-- Default carousel -->
                <div class="block-select body-c-block js-body-c-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Default carousel</p>
                        <p class="block-text">Full width image with text caption.</p>
                    </div>
                </div>
                <!-- Text carousel -->
                <div class="block-select body-ct-block js-body-ct-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Text and media carousel</p>
                        <p class="block-text">Title, text and button on the left, image or video on the right.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Other blocks -->
        <div class="area-other-blocks">
            <p class="content-text">Other blocks: <em>People, logos and calendar</em></p>
            <div class="block-list">
                <!-- People block -->
                <div class="block-select people-block js-people-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">People</p>
                        <p class="block-text">Card view of people or team members.</p>
                    </div>
                </div>
                <!-- Logos block -->
                <div class="block-select logos-block js-logos-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Logos</p>
                        <p class="block-text">Show logos of partners.</p>
                    </div>
                </div>
                <!-- Breather block -->
                <div class="block-select breather-block js-breather-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Breather</p>
                        <p class="block-text">Title, text and image with parallax effect.</p>
                    </div>
                </div>
                <!-- Calendar block -->
                <div class="block-select calendar-block js-calendar-block">
                    <div class="block-thumb"></div>
                    <div class="block-info">
                        <p class="block-title">Calendar</p>
                        <p class="block-text">List of events with date, title and link.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
