<div class="overlay-box overlay-large">
    <a class="overlay-close js-close" href="#"></a>
    <div class="contentForm article-content-panel">
        <div class="article-details">
            <div><input placeholder="Article title" type="text" class="article-title" spellcheck="false" value="{{text.title}}" readonly></div>
        </div>
        <div class="article-content form-text">
            {{{text.html}}}
        </div>
        <div class="article-save form-save">
            <a class="js-update-article u-main-btn" href="#">Save</a>
        </div>
    </div>
</div>