<div class="items-header">
    <p class="new-item js-add-article" title="Add new article/resource"></p>
</div>
<div class="all-items"></div>
<!-- Toolbar -->
<div class="toolbarWrap">
    <p class="toolbar-text js-cancel-selection">
        <span class="cancel-icon"></span>
        <span class="selected-text"><b>1</b> article selected</span>
    </p>
    <p class="toolbar-actions">
        <a class="js-addto-folder u-action-btn" href="#">Add to folder</a>
    </p>
</div>
