<div class="overlay-box overlay-large">
    <a class="overlay-close js-close" href="#"></a>
    <div class="contentForm tags-list-panel">
        <div class="tags-new">
            <p class="content-text">Add tags to this article:</p>
            <input type="text" class="tags-input input" placeholder="Add tags" autocomplete="off" spellcheck="false">
        </div>
        <div class="tag-list"></div>
        <div class="tags-done form-save">
            <a class="js-done u-main-btn" href="#">Done</a>
        </div>
    </div>
</div>