<div class="overlay-box">
    <a class="overlay-close js-close" href="#"></a>
    <p class="overlay-header">Create new badge</p>
    {{!-- Badges --}}
    <div class="new-badges">
        <input type="text" class="badge-name input" placeholder="Name" autocomplete="off" spellcheck="false">
        <input type="text" class="badge-desc input" placeholder="Describe this badge" autocomplete="off" spellcheck="false">
        <div class="entity-btn js-save">Save</div>
        <div class="badge-list"></div>
    </div>
</div>