<div class="overlay-box">
    <a class="overlay-close js-close" href="#"></a>
    <p class="overlay-header">Select badge</p>
    {{!-- Badges --}}
    <div class="discussion-badges">
        <div class="badge-list"></div>
        {{!-- Done --}}
        <div class="entity-btn js-done">Done</div>
    </div>
</div>