<div class="overlay-box">
    <a class="overlay-close js-close" href="#"></a>
    <p class="overlay-header">Tags</p>
    {{!-- Tags --}}
    <div class="discussion-tags">
        <input type="text" class="tags-input input" placeholder="Add tags" autocomplete="off" spellcheck="false">
        <div class="tag-list"></div>
        {{!-- Done --}}
        <div class="entity-btn js-done">Done</div>
    </div>
</div>