<div class="tag-content">
    <a class="tag-name" href="/social/tag/{{slug}}" style="background-color: {{color}};">{{name}}</a>
    <p class="tag-desc">{{{desc}}}</p>
</div>
<span class="subscribe-tag">Subscribe</span>