<div class="modal-box">
    <a class="modal-close js-close" href="#"></a>
    <div class="explore-header">
        <p>Subscribe to interesting tags:</p>
    </div>
    <div class="explore-tag-list"></div>
</div>