<div class="overlay-box">
    <a class="overlay-close js-close" href="#"></a>
    <h2 class="message">Forgot your password?</h2>
    <p class="message">You remembered your password? <a href="/login" class="js-login">Log in</a> </p>
    <form method="post" action="/forgot" class="form form--modal js-form">
        <div class="js-email">
            <p class='u-formError'></p>
            <input class="input" name="email" value="" placeholder="Email address" autocomplete="off" spellcheck="false">
        </div>
        <input name="submit" value="Reset password" class="btn-submit js-submit" type="submit">
    </form>
    <p class="reset-message">If an account exists, we will send you an email that will allow you to reset your password. You may need to check your spam folder or wait for few minutes.</p>
</div>
