<div class="overlay-box">
    <a class="overlay-close js-close" href="#"></a>
    <p class="overlay-header">Moderators</p>
    {{!-- Moderators --}}
    <div class="discussion-moderators">
        <input type="text" class="collab-input input" placeholder="Add moderator" autocomplete="off" spellcheck="false">
        <div class="member-list"></div>
        {{!-- Done --}}
        <div class="entity-btn js-done">Done</div>
    </div>
</div>
