<div class="overlay-box overlay-large">
    <a class="overlay-close js-close" href="#"></a>
    <div class="contentForm new-article-panel">
        <div class="article-select">
            <p class="content-text">Select type:</p>
            <p class="content-choose">
                <span class="choose-news">News</span>
                <span class="choose-blog">Blog</span>
                <span class="choose-directors">Director's Blog</span>
                <span class="choose-resources">Resources</span>
            </p>
        </div>
        <div class="article-details">
            <div><input placeholder="Article title: Required" type="text" class="article-title" spellcheck="false" value=""></div>
            <div><textarea placeholder="Describe article (New lines not allowed)" class="article-desc"></textarea></div>
        </div>
        <div class="article-custom-url u-hide">
            <p class="content-text">Custom Article URL:</p>
            <div><input placeholder="Slug or Text" type="text" class="article-slug" spellcheck="false" value=""></div>
        </div>
        <div class="article-urls">
            <p class="content-text">External URL or Embed Code:</p>
            <div><input placeholder="External URL or Embed Code" type="text" class="article-url" spellcheck="false" value=""></div>
        </div>
        <div class="article-images">
            <p class="content-text">Image URL (800px X 400px):</p>
            <div><input placeholder="Article image URL" type="text" class="article-image js-select-image" spellcheck="false" value=""></div>
        </div>
        <div class="article-meta-image">
            <p class="content-text">Meta Image URL (1200px X 630px):</p>
            <div><input placeholder="Meta Image URL" type="text" class="article-meta js-select-image" spellcheck="false" value=""></div>
        </div>
        <div class="article-style">
            <p class="content-text">Select style:</p>
            <p class="select-style">
                <span class="choose-normal selected">Normal</span>
                <span class="choose-bold">Bold</span>
            </p>
        </div>
        <div class="article-feed-label">
            <p class="content-text">Add to feed:</p>
            <div><input placeholder="Feed label (news, blog, announcement, coming soon, event)" type="text" class="article-feed" spellcheck="false" value=""></div>
        </div>
        <div class="article-location">
            <p class="content-text">Add to kindness globe:</p>
            <div>
                <input placeholder="Country" type="text" class="article-country" spellcheck="false" value="">
                <input placeholder="Latitude" type="text" class="article-lat" spellcheck="false" value="">
                <input placeholder="Longitude" type="text" class="article-long" spellcheck="false" value="">
            </div>
        </div>
        <div class="article-save form-save">
            <a class="js-save-article u-main-btn" href="#">Save</a>
            <a class="js-delete-article u-delete-btn u-hide">Delete</a>
            <a class="js-archive-article archive-btn u-hide">Archive</a>
        </div>
    </div>
</div>
