<div class="overlay-box overlay-large">
    <a class="overlay-close js-close" href="#"></a>
    <div class="contentForm new-page-panel">
        <div class="page-select">
            <p class="content-text">Select type:</p>
            <p class="content-choose">
                <span class="choose-institute">Home</span>
                <span class="choose-newsroom">Newsroom home</span>
                <span class="choose-project">Project</span>
                <span class="choose-event">Event</span>
                <span class="choose-external">External</span>
            </p>
        </div>
        <div class="page-details">
            <p class="content-text">About:</p>
            <div><input placeholder="Page title: Required" type="text" class="page-title" spellcheck="false" value=""></div>
            <div><textarea placeholder="Describe page (New lines not allowed)" class="page-desc"></textarea></div>
        </div>
        <div class="page-custom-url u-hide">
            <p class="content-text">Custom Page URL:</p>
            <div><input placeholder="Slug or Text" type="text" class="page-url" spellcheck="false" value=""></div>
        </div>
        <div class="page-ref u-hide">
            <p class="content-text">External URL:</p>
            <div><input placeholder="External URL" type="text" class="page-ref-url" spellcheck="false" value=""></div>
        </div>
        <div class="page-images">
            <p class="content-text">Image URL (800px X 400px):</p>
            <div><input placeholder="Page image URL" type="text" class="page-image js-select-image" spellcheck="false" value=""></div>
        </div>
        <div class="page-meta-image">
            <p class="content-text">Meta Image URL (1200px X 630px):</p>
            <div><input placeholder="Meta Image URL" type="text" class="page-meta js-select-image" spellcheck="false" value=""></div>
        </div>
        <div class="page-custom-menu u-hide">
            <p class="content-text">Optional Page Menu (Level, Title, URL, New):</p>
            <div><textarea placeholder="Enter each menu item in a new line" class="page-menu"></textarea></div>
        </div>
        <div class="page-save form-save">
            <a class="js-save-page u-main-btn" href="#">Save</a>
            <a class="js-delete-page u-delete-btn u-hide">Delete</a>
            <a class="js-archive-page archive-btn u-hide">Archive</a>
        </div>
    </div>
</div>
