<div class="sidebar-box feed-box">
    <div class="sidebar-header">
        <h2 class="message">Latest news and updates</h2>
    </div>
    <div class="sidebar-content">
        <div class="feed-items">
        </div>
    </div>
</div>
