<div class="overlay-box overlay-large">
    <a class="overlay-close js-close" href="#"></a>
    <div class="contentForm related-list-panel">
        <div class="related-new">
            <p class="content-text">Add new related project or event to this article:</p>
            <input type="text" class="related-input input" placeholder="Name or project or event" autocomplete="off" spellcheck="false">
        </div>
        <div class="related-list"></div>
        <div class="related-done form-save">
            <a class="js-done u-main-btn" href="#">Done</a>
        </div>
    </div>
</div>