<div class="overlay-box">
    <a class="overlay-close js-close" href="#"></a>
    <h2 class="message">Hello<span></span></h2>
    <p class="message">Already have an account? <a href="/login" class="js-login">Log in</a> </p>
    <form method="post" action="/signup" class="form form--modal js-form">
        <div class="js-name">
            <p class="u-formError"></p>
            <input class="input hasError" name="name" value="" placeholder="Your full name" autocomplete="off" spellcheck="false">
        </div>
        <div class="js-email">
            <p class='u-formError'></p>
            <input class="input" name="email" value="" placeholder="Email address" autocomplete="off" spellcheck="false">
        </div>
        <div class="js-password">
            <p class='u-formError'></p>
            <input class="input input--show" name="password" value="" placeholder="Password (min 8 characters)" type="password">
        </div>
        <input name="submit" value="Sign up" class="btn-submit js-submit" type="submit">
    </form>
    <div class="social-connect">
        <div class="social-btns">
            <a href="/auth/google" class="btn btn-google"><span class="icon-google"></span> Google</a>
            <a href="/auth/facebook" class="btn btn-facebook"><span class="icon-facebook"></span> Facebook</a>
            <a href="/auth/twitter" class="btn btn-twitter"><span class="icon-twitter"></span> Twitter</a>
        </div>
        <p class="about-never">We'll never post anything without your permission.</p>
    </div>
</div>
