<div class="overlay-box">
    <a class="overlay-close js-close" href="#"></a>
    <p class="overlay-header">Add members</p>
    {{!-- Members --}}
    <div class="new-tag-members">
        <label>Members can view, add discussions and comment on them.</label>
        <input type="text" class="collab-input input" placeholder="Name or Email of person" autocomplete="off" spellcheck="false">
        <div class="member-list"></div>
        {{!-- Done --}}
        <div class="entity-btn done-tag js-done">Done</div>
    </div>
</div>
